<footer class="text-white text-center">
    <strong><i><br>© 2024 Aquasentinel</i></strong><br>
       <p><strong> EMAIL: </strong> info@aquasentinel.com <br>
       <strong>ADDRESS:</strong> 70 Elgar Road, Burwood, VIC, 3125<br> 
       <strong>OFFICE PHONE:</strong> 0402 932 416</p><br>
   </footer>  