<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
  <body>     
    <%- body %>
</body>
</html>
 