<!DOCTYPE html>
<html>
  <head>
    <title>AQUASENTINEL - REAL-TIME IOT WATER QUALITY MONITORING SYSTEM</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/scripts/materialize.min.js"></script>
    <script src="/scripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head> 
  <body>    
      <% if (user) { %>
        <nav>
          <div class="nav-wrapper navbar-size">
            <a href="#" class="brand-logo center"><img class="user-image-size" src="images/aquasentinel logo.png"></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li>
                <a class="dropdown-trigger" href="#!" data-target="dropdown1">Visualisation<i class="material-icons right">arrow_drop_down</i></a>
                <!-- Submenu -->
                <ul id="dropdown1" class="dropdown-content">
                  <li><a href="/visulisation/data-table">All Data</a></li>
                  <li><a href="/visulisation">Data Table - Filters</a></li>     
                  <li><a href="/visulisation/visulisation_wqi_line">WQI - Time vs Location</a></li>               
                  <li><a href="/visulisation/visualisation_test_d3">Visualisation - Test d3js</a></li>
                </ul>
              </li>
              <li><a href="/streaming">Streaming</a></li> 
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="/user/profile">Profile</a></li>
              <li><a href="/user/logout">Logout</a></li>
            </ul>
          </div>
        </nav>
         
       
      <% } else { %>
        <nav>
          <div class="nav-wrapper navbar-size">
            <a href="#" class="brand-logo center"><img class="user-image-size" src="images/aquasentinel logo.png"></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down"> 
              <li><a href="/user/register">Register</a></li>
              <li><a href="/user/login">Login</a></li>
            </ul>
          </div>
        </nav>   
      <% } %>
    <%- body %>
    <footer class="text-white text-center">
      <strong><i><br>© 2024 Aquasentinel</i></strong><br>
         <p><strong> EMAIL: </strong> info@aquasentinel.com <br>
         <strong>ADDRESS:</strong> 70 Elgar Road, Burwood, VIC, 3125<br> 
         <strong>OFFICE PHONE:</strong> 0402 932 416</p><br>
     </footer>  
</body>
</html>
 