<!DOCTYPE html>
<html>
  <head>
    <title>AQUASENTINEL - REAL-TIME IOT WATER QUALITY MONITORING SYSTEM</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.min.js"></script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script src="/scripts/materialize.min.js"></script>
    <script src="/scripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
  <body>   
    <nav>
      <div class="nav-wrapper navbar-size">
       
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/visulisation">Visualization</a></li>
          <li><a href="/user/register">Register</a></li>
          <li><a href="/user/login">Login</a></li>
          <li><a href="/streaming">Streaming</a></li> 
          <li><a href="/contact">Contact Us</a></li>

        </ul>
      </div>
    </nav>
    <%- body %>
</body>

</html>
 