<!DOCTYPE html>
<html>
  <head>
    <title>AQUASENTINEL - REAL-TIME IOT WATER QUALITY MONITORING SYSTEM</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5r2fFGl4dD+3aqBcs5R0U4XbQ8V+5ZOZ5U=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 
  <body>     
    <%- body %>
</body>

</html>
 