<main>
    <div id="contactInfo">
        <p> <strong> EMAIL: </strong> info@aquasentinel.com </p>
        </p> <strong>ADDRESS: </strong> 70 Elgar Road, Burwood, VIC, 3125 </p>
        </p> <strong> OFFICE PHONE: 0402 932 416 </strong> </p>
    </div>
  </main>