<main>
  <div class="divs">
    <p class="fsize"> Aquasentinel is an interactive and innovative solution designed to collect, analyze
      and visualize water quality data in real-time. Through the data collected,
      users will be able to receive real time updates on water sources around them.
  </div>

  <div class="flex-container">
    <img class="materialboxed materialboxed-image" src="images/aquasentinel logo.png" alt="Aquasentinel logo" width="500" height="500">
  </div>
  <div class="container">
    <div class="row">
      <div class="column flex-container">
        <a class="waves-effect waves-light btn-large" id="loginButtonMain" href="/user/login">Login</a>
      </div>
      <div class="column flex-container">
        <a class="waves-effect waves-light btn-large" id="registerButtonMain" href="/user/register">Register</a>
      </div>
    </div>
  </div>
</main>