 <p>Welcome <%= currentPage %></p>
 <p>Sample Data <%= receivedData %></p>
 <p>Message <%= message %></p>

<button id="startProducerButton">Start Producer</button>
<button id="startConsumerButton">Start Consumer</button>
<button id="refreshPageButton">Update Page</button>



