<main>
    <div id="borderLine">
        <p id="borderHeaderSection"> Login </p>
        <form name="login" method="POST" action="/user/login" onsubmit="return validateForm();">
            <div class="container" id="userNameSection">
                <div class="row">
                    <label class="form-label col-sm-2 mb-3" for="stud_id"><b>User Name:</b></label>
                    <div class="col-sm-10 mb-3">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Please enter your user name" required><span id="message"></span>
                    </div>
                </div>
            </div>   
            <div class="container" id="passwordSection">
                <div class="row">
                    <div class="col-sm-2 mb-3">
                        <label for="stud_name" class="form-label"><b>Password:</b></label>
                    </div>
                    <div class="col-sm-10 mb-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Please enter your password" required><span id="message1"></span>
                    </div>
                </div>
            </div>
            <div class="container" id="passwordSection">
                <div class="row">
                    <input class="btn" type="submit" id="loginbutton" value="Login" onclick="return validateForm()">
                </div>
            </div>
        </form>
    </div>
    </div>
    <div id="aboveTheFooterLogin">   
    </div>
    <script>
        function validateForm() {
          let username = document.getElementById("username").value;
          let password = document.getElementById("password").value;
      
          if (username.length == 0) {
              let message = document.getElementById("message");
              message.innerHTML = "<em>You didn't enter your username.</em>";
              message.classList.add("text-danger");
              return false;
          }
      
          if (password.length == 0) {
              let message = document.getElementById("message1");
              message.innerHTML = "<em>You didn't enter your password.</em>";
              message.classList.add("text-danger");
              return false;
          }else{
            return true;
          }
        }
        </script>
  </main>