<main> 
        <div id="borderLine">
          <p id="borderHeaderSection">Update User Details</p>
          <form name="updateData" method="post" action="/user/updateUser">
            <div class="container" id="userDetailsSection">
              <div class="row"> 
                <label class="form-label col-sm-3" for="username"><b>User Name:</b></label>
                <div class="col-sm-9">
                  <input type="text" disabled class="form-control" id="username" name="username" value="<%= user.username %>">
                </div>
                <label class="form-label col-sm-3" for="updateFirstname"><b>First Name:</b></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="firstname" name="firstname" value="<%= user.firstname %>" placeholder="Your New First Name" required>
                </div>
                <label class="form-label col-sm-3" for="updateLastname"><b>Last Name:</b></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="lastname" name="lastname"  value="<%= user.lastname %>"  placeholder="Your New Last Name" required>
                </div>  
                <label class="form-label col-sm-3" for="updatePassword"><b>Updated Password</b></label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" name="password" id="password" placeholder="a new password">
                </div>
              </div>
              <div class="row justify-content-center"> <!-- Center the row content -->
                <div class="col-sm-6"> <!-- Offset by 3 columns and use 6 columns for the button -->
                  <input class="btn btn-primary btn-block" type="submit" id="myProfileButton" value="Update User"> <!-- Use btn-block class to make the button full-width -->
                </div>
              </div>
            
            </div> 
          </form> 
          </div> 
              </div>
              <div id="borderLine">
                <p id="borderHeaderSection">Delete User Details</p>
                <form name="deleteUser" method="post" action="/user/deleteUser">
                  <div class="container" id="userDetailsSection">
                    <div class="row"> 
                      <label class="form-label col-sm-3" for="updateFirstname"><b>Enter Your User ID:</b></label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Your User ID" required>
                      </div> 
                    </div>
                    <div class="row justify-content-center"> <!-- Center the row content -->
                      <div class="col-sm-6"> <!-- Offset by 3 columns and use 6 columns for the button -->
                        <input class="btn btn-primary btn-block" type="submit" id="myProfileButton" value="Delete my profile"> <!-- Use btn-block class to make the button full-width -->
                      </div>
                    </div>
                  
                  </div>  
                 
                </form>
                    </div> 
                    </main>



                    