<main>
    <div>
        <h3 class="text-center visualisation-title">Streaming</h3>
    </div>
  
    <div class="container divs">
        <div class="row">
            <div class="column flex-container">
                <a class="waves-effect waves-light btn-large" id="storeData" href="/streaming/start-producer">store data</a>
              </div>
              <div class="column flex-container">
                <a class="waves-effect waves-light btn-large" id="collectData" href="/streaming/start-consumer">collect data</a>
              </div>
        </div>
    </div> 
  </main> 