<main>
  <div class="container" id="headerBelowNav"> 
    <h1>STREAMING</h1>
  </div>  
  
    <div class="container divs">
        <div class="row">
            <div class="column flex-container">
                <a class="btn-large" id="storeData" href="/streaming/start-producer">store data</a>
              </div>
              <div class="column flex-container">
                <a class="btn-large" id="collectData" href="/streaming/start-consumer">collect data</a>
              </div>
        </div>
    </div> 
  </main> 