<main> 
  <div id="borderLine">    
    <p id="borderHeaderSection">
      Data STREAMING:
    </p>    
    <div class="row justify-content-center">  
      <div class="col-sm-9 mb-3 mt-2"> 
        <a class="btn-large btn-block" id="storeData" href="/streaming/start-producer">Start Streaming</a>
      </div>
    </div> 

    <div class="row justify-content-center">  
      <div class="col-sm-9 mb-3 mt-2"> 
        <a class="btn-large btn-block" id="collectData" href="/streaming/start-consumer">Collect Data</a>
      </div>
    </div>  
  </div>
</main> 
