<main> 
  <div id="borderLine">
    
      <p id="borderHeaderSection">
        Data filters:
      </p> 
     
      <div class="row">  
      <div class="input-field col s12">
        <select id="locationFilter">
          <option value="" disabled selected>Choose a location</option>
          <% uniqueLocations.forEach((location) => { %>
            <option value="<%= location %>"><%= location %></option>
          <% }); %>
        </select>
       </div>
       </div>  
       
        <div class="row justify-content-center"> 
            <div id="chart-container" viewBox="0 0 800 500"></div> 
        </div>
  
    </div>
    <div id="borderLine">   
      <div class="row">
         <div id="visualisation1">
          <table border="1">
            <thead id="borderHeaderSection">
              <tr>
                <th><a href="#" class="sortable" data-column="date">Date</a></th>
                <th><a href="#" class="sortable" data-column="averageWQI">Average WQI</a></th>
              </tr>
            </thead>
            <tbody>
               
            </tbody>
          </table>            
         </div>
     </div>
   </div>
 
</main>  
