<main> 
  <div id="borderLine">
    
      <p id="borderHeaderSection">
        Data filters:
      </p> 
     
      <div class="row">  
      <div class="input-field col s12">
        <select id="locationFilter">
          <option value="" disabled selected>Choose a location</option>
          <% uniqueLocations.forEach((location) => { %>
            <option value="<%= location %>"><%= location %></option>
          <% }); %>
        </select>
       </div>
       </div>         
        <div class="row justify-content-center"> 
          <div class="col-md-6">
          <div>   
            <div class="row">
               <div id="avgWQI">
                <table border="1">
                  <thead id="borderHeaderSection">
                    <tr>
                      <th><a href="#" class="sortable" data-column="date">Date</a></th>
                      <th><a href="#" class="sortable" data-column="averageWQI">Average WQI</a></th>
                    </tr>
                  </thead>
                  <tbody>
                     
                  </tbody>
                </table>            
               </div>
           </div>
           </div>
         </div>
         <div class="col-md-6">
            <div id="chart-container"></div> 
          </div>
        </div>
  
    </div>
</main>  
