<main> 
  <div id="borderLine">
    
      <p id="borderHeaderSection">
        Date filters:
      </p> 
     
      <div class="row">  
      <div class="input-field col s12">
        <select id="locationFilterDropdown">
          <option value="" disabled selected>Choose a location</option>
          <% uniqueLocations.forEach((location) => { %>
            <option value="<%= location %>"><%= location %></option>
          <% }); %>
        </select>
       </div>
       </div>
       <div class="row">  
        <label for="dateInput" class="col-sm-3 mb-3 mt-2 col-form-label"><small>Select a start date:</small></label>
        <div class="col-sm-9 mb-3 mt-2"> 
        <input type="date" id="dateInput" name="startDate">
        </div>
       </div> 
       <div class="row">
        <label for="endDate" class="col-sm-3 mb-3 mt-2 col-form-label"><small>Select an end date:</small></label>
        <div class="col-sm-9 mb-3 mt-2"> 
        <input type="date" id="endDate" name="selectedEndDate">
        </div>
        </div> 
        <div class="row">
          <button type="button" class="btn btn-primary" id="submitFilters">Submit</button> 
         </div>
        </div>   
</main>  
