<main> 
  <div id="borderLine">
    
      <p id="borderHeaderSection">
        Data filters:
      </p> 
     
      <div class="row">  
      <div class="input-field col s12">
        <select id="locationFilterDropdown">
          <option value="" disabled selected>Choose a location</option>
          <% uniqueLocations.forEach((location) => { %>
            <option value="<%= location %>"><%= location %></option>
          <% }); %>
        </select>
       </div>
       </div>  
</main>  
