body {
  background-color: #eee;
  font-size: 26px;
}

.wrapper {
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px;
}

header{
  background-color: ghostwhite;
  padding: 20px;
}

footer {
  font-size: medium;
  text-align: center;
  background-color: #ee6e73;
}

main {
  background-color: cornsilk;
  padding: 20px;
}

.layout-sidebar {
  display: grid;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
}

/* Styling for buttons */
button {
  font-size: 30px;
  padding: 10px 20px;
  margin: 10px;
  width: 200px; 
  background-color: rgba(63, 105, 127, 0.589); 
  border:2px solid rgba(63, 105, 127, 0.589); 
  color:white;
  border-radius: 5px;
  cursor: pointer;
}

#locationFilterButtons {
  font-size: 20px;
  background-color: rgba(63, 105, 127, 0.589); 
  border:5px solid rgba(63, 105, 127, 0.589); 
  color:white;
  border-radius: 5px;
  cursor: pointer;
}

button#startConsumerButton {
  background-color: #008CBA; /* Blue color for Consumer button */
}

.user-image-size {
  height: 56px;
  margin: 4px 0;
}

.navbar-size {
  width: 95%;
  margin: 0 auto;
}

#headerBelowNav{
  margin-top: 80px;
}

    #borderLine {
      border:solid 2px rgba(63, 105, 127, 0.589);
      padding: 20px;
      margin-right: 70px;
      margin-left: 70px;
      margin-bottom: 80px;
    }

    #borderHeaderSection {
      border: 2px solid rgba(63, 105, 127, 0.589);
      padding: 10px;
      background-color: rgba(63, 105, 127, 0.589);
      margin-top: -20px;
      margin-right: -20px;
      margin-left: -20px; 
      color: white;
      font-weight: bold;
    }

    #firstNameSection{
      margin-top: 60px;
    }

    #userDetailsSection{
      margin-top: 60px;
    }

    #passwordSectionRegister{
      margin-top: 20px;
    }

    #registrationbutton{
      margin-left: 300px; 
      margin-top:40px; 
      margin-bottom: 30px; 
      background-color: rgba(63, 105, 127, 0.589); 
      border:2px solid rgba(63, 105, 127, 0.589); 
      color:white;
    }

    #myProfileButton{
      margin-left: 200px; 
      margin-top:40px; 
      margin-bottom: 30px; 
      background-color: rgba(63, 105, 127, 0.589); 
      border:2px solid rgba(63, 105, 127, 0.589); 
      color:white;
    }

    #resetbutton{
      margin-top:40px; 
      margin-bottom: 30px; 
      background-color: rgba(63, 105, 127, 0.589); 
      border:2px solid rgba(63, 105, 127, 0.589); 
      color:white;
    }

    #userNameSection {
      margin-top: 60px;
    }

    #passwordSection{
      margin-top: 20px;
    }

    #loginbutton{
      margin-left: 225px; 
      margin-top:20px; 
      margin-bottom: 20px; 
      background-color:  rgba(63, 105, 127, 0.589); 
      border:2px solid rgba(63, 105, 127, 0.589); 
      color:white;
    }

    #submitFilters{ 
      margin-top:20px; 
      margin-bottom: 20px; 
      background-color:  rgba(63, 105, 127, 0.589); 
      border:2px solid rgba(63, 105, 127, 0.589); 
      color:white;
    }

    .divs {
      padding: 40px;
      width: 70%;
      margin:auto;
    }

    .column {
      flex: 1;
      padding: 10px;
    }

    .fsize {
      font-size: 20px;
    }

    .flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    footer{
      font-size: medium;
      text-align: center;
      background-color: #e56f73;
    }

    #contactInfo {
      margin: auto;
      padding: 100px;
      margin-bottom: 220px ;
    }

    h1{
      margin-bottom: 60px; 
      margin-top:10px;  
      background-color: rgba(63, 105, 127, 0.589); 
      border: 1px solid rgba(63, 105, 127, 0.589); 
      color: white;
      text-align:center;
      font-weight: bold;
    }

    #sectionAboveFooter{
      margin-top: 100px;
    }

    #storeData{
      background-color:  rgba(63, 105, 127, 0.589); 
      border:2px solid rgba(63, 105, 127, 0.589); 
      color:white;
    }

    #collectData{
      background-color:  rgba(63, 105, 127, 0.589); 
      border:2px solid rgba(63, 105, 127, 0.589); 
      color:white;
    }

    #loginButtonMain{
      background-color:  rgba(63, 105, 127, 0.589); 
      border:2px solid rgba(63, 105, 127, 0.589); 
      color:white;
      margin-top: 50px;
    }

    #registerButtonMain{
      background-color:  rgba(63, 105, 127, 0.589); 
      border:2px solid rgba(63, 105, 127, 0.589); 
      color:white;
      margin-top: 50px;
    }

    .sortable {
      font-size: 75%;
      text-orientation: upright ;
      color: white;
    }
     /* Styles for the SVG element */
     #shape1 {
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: 100%;
      height: 100%;
    }

   #show_chart {
    font-size: 18px;
    text-align: center;
    padding:1px;
    width: 150px; 
    background-color: rgba(63, 105, 127, 0.589); 
    border:2px solid rgba(63, 105, 127, 0.589); 
    color:white;
    border-radius: 5px;
    cursor: pointer;
    }

    /* Style for the submenu */
.submenu {
  display: none;
  position: absolute;
  background-color: #fff; /* Set the background color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Add a box shadow */
}

/* Style for the submenu items */
.submenu li {
  padding: 10px;
}

/* Show the submenu when hovering over the parent item */
.nav-wrapper .left > li:hover .submenu {
  display: block;
}
